<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th ng-click="sortData('id')">SNO <i class="fa fa-sort" aria-hidden="true"></i></th>
            <th ng-click="sortData('title')">Title <i class="fa fa-sort" aria-hidden="true"></i></th>
            <th ng-click="sortData('body')">Body <i class="fa fa-sort" aria-hidden="true"></i></th>
        </tr>
    </thead>
    <tbody ng-repeat="post in postsData | orderBy : sortValue:sortBool">
        <tr>
            <td>{{post.id}}</td>
            <td>{{post.title}}</td>
            <td>{{post.body}}</td>
        </tr>
    </tbody>
</table>